body{
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
}

.header{
    background-color: white;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    text-decoration: none;
    color: white;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:active, a:hover{
    color: white;
    text-decoration: underline white;
}
 